:root{
    --one:#fefbc9;
    --two:#e1eedd;
    --three:#fffbf0;
    --four:#fcde67;
    --five:#030e12;
    --six:#fefaf8;
    --seven:#2b6777;
    --eight:#c8d8e4;
    --nine:#ffffff;
    --ten:#f2f2f2;
    --ten-b:#f2f2f2f1;
    --eleven:#52ab98;
    --twelve:#6f4bff;
    --thirteen:#f778ba;
    --fourteen:#ffe5a5;
    --fifteen:#fdf7ff;
    --sixteen:#1c1234;
    --seventeen:#8d00ff;
    --eighteen:#0c0c0c;
    --nineteen:#209ec1;
    --twenty:#000000;
    --tentione:#ffe6e6;
    --primaryColor:#1f1f1f;
    --secondaryColor:#c2bdbd;
    --bg_update: #efefef;
    --blue: rgb(87, 133, 11);
    --c-red: #cb0215;
    
}
::selection{
    background: rgb(58, 56, 56);
    color: #fff;
    font-weight: 900;
}

.bg-pri{background: var(--primaryColor);}
.bg-sec{background: var(--secondaryColor);}
.c-pri{color: var(--primaryColor);}
.c-sec{color: var(--secondaryColor);}


